botUI_simulatedData.json
[{"id":"57f4ee2c.521288","type":"watson-conversation-v1","z":"b27a1b0c.5bc0e8","name":"","workspaceid":"65bb29ef-5381-4d3d-bd52-bae03f51dda5","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":500,"y":520,"wires":[["118cb5c3.675692"]]},{"id":"118cb5c3.675692","type":"switch","z":"b27a1b0c.5bc0e8","name":"","property":"payload.output.text","propertyType":"msg","rules":[{"t":"eq","v":"OUT-TO-WEATHER","vt":"str"},{"t":"eq","v":"OUT-Sensor","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":676,"y":522,"wires":[["f31c811b.352878"],["67f467a3.0bc028"],["c5e20b02.93c8d"]]},{"id":"f31c811b.352878","type":"link out","z":"b27a1b0c.5bc0e8","name":"weather-Out","links":["736ea94c.def228"],"x":831,"y":510,"wires":[]},{"id":"bbe404da.c7683","type":"comment","z":"b27a1b0c.5bc0e8","name":"Assistant","info":"","x":93,"y":464,"wires":[]},{"id":"67f467a3.0bc028","type":"link out","z":"b27a1b0c.5bc0e8","name":"IoTdata-out1","links":["9c38761f.73fd1"],"x":832,"y":553,"wires":[]},{"id":"ea05c726.e09558","type":"function","z":"b27a1b0c.5bc0e8","name":"Read User input","func":"msg.payload=msg.payload.chat;\n\nreturn msg;","outputs":1,"noerr":0,"x":301.5,"y":519,"wires":[["57f4ee2c.521288"]]},{"id":"4fcc48f3.8a91d8","type":"ui_text","z":"b27a1b0c.5bc0e8","group":"9d5a1e9.4239e6","order":2,"width":"6","height":"7","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"col-center","x":961.25,"y":700.7499694824219,"wires":[]},{"id":"d877940d.adfe7","type":"ui_form","z":"b27a1b0c.5bc0e8","name":"User input","label":"","group":"9d5a1e9.4239e6","order":3,"width":"6","height":"3","options":[{"label":"Chat with me","value":"chat","type":"text","required":true}],"formValue":{"chat":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":102,"y":519,"wires":[["ea05c726.e09558"]]},{"id":"e4aa817.c3fb68","type":"comment","z":"b27a1b0c.5bc0e8","name":"Last measurement","info":"","x":133.5,"y":748.3125,"wires":[]},{"id":"9c38761f.73fd1","type":"link in","z":"b27a1b0c.5bc0e8","name":"IoTdata-in1","links":["67f467a3.0bc028"],"x":80.4444580078125,"y":655.8125305175781,"wires":[["d2f1aed3.573408"]]},{"id":"b86f08e.e6612f8","type":"ui_gauge","z":"b27a1b0c.5bc0e8","name":"","group":"30d72309.414e34","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"°C","format":"{{msg.payload}}","min":"0","max":"30","colors":["#ca3838","#e6e600","#00b500"],"seg1":"10","seg2":"18","x":616.8607788085938,"y":624.3402404785156,"wires":[]},{"id":"3d9bde1d.8f7f02","type":"function","z":"b27a1b0c.5bc0e8","name":"Message","func":"msg.payload  = \"Latest temperature measurement was \" + msg.payload.temperature + \".\";\nreturn msg;","outputs":1,"noerr":0,"x":425.61102294921875,"y":698.3125305175781,"wires":[["4fcc48f3.8a91d8"]]},{"id":"73ba45ed.d0e734","type":"ibmiot in","z":"b27a1b0c.5bc0e8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":800,"wires":[["9d573209.d780c8","b47968f8.0a4eb8"]]},{"id":"85c8a42f.8622","type":"ui_button","z":"b27a1b0c.5bc0e8","name":"","group":"30d72309.414e34","order":0,"width":0,"height":0,"passthru":false,"label":"Clear","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":604.0277099609375,"y":670.3125,"wires":[["b86f08e.e6612f8"]]},{"id":"bb3fde4.18c162","type":"function","z":"b27a1b0c.5bc0e8","name":"Temp","func":"msg.payload  = msg.payload.temperature;\n\nreturn msg;","outputs":1,"noerr":0,"x":416.611083984375,"y":623.9791641235352,"wires":[["b86f08e.e6612f8"]]},{"id":"c5e20b02.93c8d","type":"function","z":"b27a1b0c.5bc0e8","name":"Parse output","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":864.0625,"y":601.5625,"wires":[["4fcc48f3.8a91d8"]]},{"id":"9d573209.d780c8","type":"function","z":"b27a1b0c.5bc0e8","name":"Save to global variable","func":"sensor = {\n    \"temperature\" :msg.payload.d.temp,\n}\nglobal.set(\"sensor\",sensor)\n","outputs":1,"noerr":0,"x":340,"y":800,"wires":[[]]},{"id":"d2f1aed3.573408","type":"function","z":"b27a1b0c.5bc0e8","name":"Get latest temperature","func":"msg.payload = global.get(\"sensor\");\nreturn msg;","outputs":1,"noerr":0,"x":227.8125,"y":655.3125,"wires":[["bb3fde4.18c162","3d9bde1d.8f7f02"]]},{"id":"b47968f8.0a4eb8","type":"debug","z":"b27a1b0c.5bc0e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":130.86111450195312,"y":852.2292175292969,"wires":[]},{"id":"9d5a1e9.4239e6","type":"ui_group","z":"","name":"Bot","tab":"5d2bff50.8dc6b","order":1,"disp":true,"width":"6","collapse":false},{"id":"30d72309.414e34","type":"ui_group","z":0,"name":"Last sensor value","tab":"5d2bff50.8dc6b","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d2bff50.8dc6b","type":"ui_tab","z":"","name":"Assistant","icon":"fa-assistant","order":2}]