visualizationUI_simulatedData.json
[{"id":"99fa59ff.2f3d7","type":"comment","z":"b27a1b0c.5bc0e8","name":"Sensor data visualization","info":"","x":170,"y":180,"wires":[]},{"id":"6107ca56.b6895c","type":"ui_gauge","z":"b27a1b0c.5bc0e8","name":"Temperature","group":"17c3a1cd.f4be06","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload.d.temp}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":240,"wires":[]},{"id":"ea3d2d91.a7203","type":"ui_gauge","z":"b27a1b0c.5bc0e8","name":"Humidity","group":"17c3a1cd.f4be06","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.d.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":301,"y":281,"wires":[]},{"id":"3dca715b.66f4c6","type":"ibmiot in","z":"b27a1b0c.5bc0e8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":280,"wires":[["6107ca56.b6895c","ea3d2d91.a7203","93f47f33.6ea03"]]},{"id":"93f47f33.6ea03","type":"function","z":"b27a1b0c.5bc0e8","name":"Temperature","func":"msg.payload = msg.payload.d.temp;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["bbb81969.7b1ca8"]]},{"id":"bbb81969.7b1ca8","type":"ui_chart","z":"b27a1b0c.5bc0e8","name":"Temperature - 24 Hours","group":"17c3a1cd.f4be06","order":4,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":381.5,"y":361,"wires":[[],[]]},{"id":"1c999bfd.13105c","type":"comment","z":"b27a1b0c.5bc0e8","name":"Banner","info":"","x":94.6666259765625,"y":46.916664123535156,"wires":[]},{"id":"425369bd.600f18","type":"ui_template","z":"b27a1b0c.5bc0e8","group":"","name":"Banner & Clock","order":0,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n\n        logo.src = 'https://raw.githubusercontent.com/sandra-calvo/smarthomes/master/images/ibm%2Bmimmitkoodaa3.png';\n        logo.height = 45;\n        div1[0].style.margin = '10px auto';\n\n        div1.append(logo);\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '5px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":146.6666259765625,"y":90.1388931274414,"wires":[[]]},{"id":"17c3a1cd.f4be06","type":"ui_group","z":"","name":"Sensors","tab":"5d2bff50.8dc6b","disp":true,"width":"6","collapse":false},{"id":"5d2bff50.8dc6b","type":"ui_tab","z":"","name":"Assistant","icon":"fa-assistant","order":2}]