weatherUI_simulatedData.json
[{"id":"d9abdaa9.a92b08","type":"http request","z":"a09963cd.438748","name":"geoservice","method":"GET","ret":"obj","url":"https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyC_I4RmHnE545Sk0QJcZzF7PtB1xYYrC-o&address={{{payload}}}","tls":"","x":413,"y":975,"wires":[["53244239.c3bb7c"]]},{"id":"53244239.c3bb7c","type":"function","z":"a09963cd.438748","name":"Parse latitude & longitude","func":"\nmsg.location = {\n    lat : msg.payload.results[0].geometry.location.lat,\n    lon : msg.payload.results[0].geometry.location.lng\n    \n};\nreturn msg;\n","outputs":1,"noerr":0,"x":653.9999694824219,"y":975.0000076293945,"wires":[["fa549ba0.b0ae98"]]},{"id":"8632d323.0df4f","type":"function","z":"a09963cd.438748","name":"Extract City","func":"msg.payload = msg.payload.context.city;\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":975,"wires":[["d9abdaa9.a92b08"]]},{"id":"f6e0c8d.c454d38","type":"comment","z":"a09963cd.438748","name":"Weather - API Key Inside","info":"API KEY: 3a1ac87a062142df79f4177302bd7ab9\n","x":177,"y":1023.0000534057617,"wires":[]},{"id":"1bb8cc3b.43e4cc","type":"link in","z":"a09963cd.438748","name":"weather-In","links":["9ee58043.d384a8","9f8e73cf.2b01d","cc46e7c5.cb9448","329c6115.0dbb8e"],"x":118,"y":975,"wires":[["8632d323.0df4f"]]},{"id":"4fa3db65.36e764","type":"function","z":"a09963cd.438748","name":"Weather response","func":"msg.payload = msg.description;","outputs":1,"noerr":0,"x":792.75,"y":1041.7499313354492,"wires":[["12a19bc3.03b23c"]]},{"id":"16900e88.9bd601","type":"ui_text","z":"a09963cd.438748","group":"6ccdc95f.d5e388","order":2,"width":0,"height":0,"name":"Temperature","label":"Temperature (°C)","format":"{{msg.payload.tempc}}","layout":"row-spread","x":771.0000076293945,"y":1130.74995803833,"wires":[]},{"id":"3962235d.13992c","type":"ui_text","z":"a09963cd.438748","group":"6ccdc95f.d5e388","order":1,"width":0,"height":0,"name":"Location","label":"Location","format":"{{msg.payload.location}}","layout":"row-spread","x":761.2500610351562,"y":1094.7499618530273,"wires":[]},{"id":"6dafed9e.630774","type":"ui_text","z":"a09963cd.438748","group":"6ccdc95f.d5e388","order":3,"width":0,"height":0,"name":"Win speed","label":"Win speed","format":"{{msg.payload.windspeed}}","layout":"row-spread","x":772.5000076293945,"y":1171.99995803833,"wires":[]},{"id":"852d0055.62ec5","type":"ui_text","z":"a09963cd.438748","group":"6ccdc95f.d5e388","order":4,"width":0,"height":0,"name":"Conditions","label":"Conditions","format":"{{msg.payload.weather}}","layout":"row-spread","x":773.2500076293945,"y":1210.24995803833,"wires":[]},{"id":"4a678e55.73f5b","type":"ui_text","z":"a09963cd.438748","group":"6ccdc95f.d5e388","order":5,"width":0,"height":0,"name":"Pressure","label":"Pressure","format":"{{msg.payload.pressure}}","layout":"row-spread","x":763.2500076293945,"y":1249.7499227523804,"wires":[]},{"id":"fa549ba0.b0ae98","type":"openweathermap","z":"a09963cd.438748","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":370.4167175292969,"y":1080.416618347168,"wires":[["3962235d.13992c","16900e88.9bd601","6dafed9e.630774","852d0055.62ec5","4a678e55.73f5b","4fa3db65.36e764"]]},{"id":"6ccdc95f.d5e388","type":"ui_group","z":"","name":"Weather","tab":"bacb4d54.29dfc8","order":4,"disp":true,"width":"6","collapse":false},{"id":"bacb4d54.29dfc8","type":"ui_tab","z":"","name":"Assistant","icon":"fa-assistant","order":2}]