weather_flow.json
[{"id":"481e4fec.3a1308","type":"weather_insights","z":"943b4910.ef79b","name":"","host":"twcservice.au-syd.mybluemix.net","service":"/observations.json","geocode":"","units":"m","language":"","x":370.00006103515625,"y":709.25,"wires":[["512719e6.79c42","54b64263.d8102c","ca06dcb3.fb6df","73942852.f33868","7a6b3635.add08","81ba072b.bb6798"]]},{"id":"fbafb05c.1e9a48","type":"http request","z":"943b4910.ef79b","name":"geoservice","method":"GET","ret":"obj","url":"https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyC_I4RmHnE545Sk0QJcZzF7PtB1xYYrC-o&address={{{payload}}}","tls":"","x":363.75,"y":655.5000305175781,"wires":[["c8f4924e.16dc48"]]},{"id":"c8f4924e.16dc48","type":"function","z":"943b4910.ef79b","name":"Parse latitude & longitude","func":"var x = msg.payload.results[0].geometry.location.lat+\",\"+msg.payload.results[0].geometry.location.lng;\nmsg.city=msg.payload.results[0].formatted_address;\nmsg.payload=x;\nreturn msg;","outputs":1,"noerr":0,"x":563.75,"y":655.5000305175781,"wires":[["481e4fec.3a1308"]]},{"id":"fb480676.bd1fb","type":"function","z":"943b4910.ef79b","name":"Extract City","func":"msg.payload = msg.payload.context.city;\n//msg.payload = \"Helsinki\";\nreturn msg;","outputs":1,"noerr":0,"x":194.75,"y":655.5000305175781,"wires":[["fbafb05c.1e9a48"]]},{"id":"8bb651d7.7ef4e","type":"comment","z":"943b4910.ef79b","name":"Weather","info":"FROM IBM ACCOUNT:\n{\n  \"username\": \"b8c0aa41-f20e-4913-a24f-da461dcca75b\",\n  \"password\": \"KRoqhsIawq\",\n  \"host\": \"twcservice.au-syd.mybluemix.net\",\n  \"port\": 443,\n  \"url\": \"https://b8c0aa41-f20e-4913-a24f-da461dcca75b:KRoqhsIawq@twcservice.au-syd.mybluemix.net\"\n}\n\n\nfrom samppa9 account\n\n{\n  \"username\": \"8640b6a4-91a4-4d80-b775-7a3a1b512fc9\",\n  \"password\": \"vM0TN2gi76\",\n  \"host\": \"twcservice.eu-gb.mybluemix.net\",\n  \"port\": 443,\n  \"url\": \"https://8640b6a4-91a4-4d80-b775-7a3a1b512fc9:vM0TN2gi76@twcservice.eu-gb.mybluemix.net\"\n}\n\n\n","x":100.75,"y":595.5000305175781,"wires":[]},{"id":"736ea94c.def228","type":"link in","z":"943b4910.ef79b","name":"weather-In","links":["9ee58043.d384a8","9f8e73cf.2b01d"],"x":68.75,"y":655.5000305175781,"wires":[["fb480676.bd1fb"]]},{"id":"512719e6.79c42","type":"function","z":"943b4910.ef79b","name":"Weather response","func":"msg.payload = \"In \" + msg.city + \" it's \" + msg.observation.temp + \" degrees. Feels like \" + msg.observation.feels_like + \" degrees.\";\nreturn msg;","outputs":1,"noerr":0,"x":728.5000610351562,"y":707.25,"wires":[["7abbd71c.87407"]]},{"id":"ca06dcb3.fb6df","type":"ui_text","z":"943b4910.ef79b","group":"93cc9ef7.10fc18","order":2,"width":0,"height":0,"name":"Temperature","label":"Temperature (°C)","format":"{{msg.observation.temp}}","layout":"row-spread","x":599.7500610351562,"y":805.25,"wires":[]},{"id":"54b64263.d8102c","type":"ui_text","z":"943b4910.ef79b","group":"93cc9ef7.10fc18","order":1,"width":0,"height":0,"name":"Location","label":"Location","format":"{{msg.city}}","layout":"row-spread","x":590.0000610351562,"y":764.25,"wires":[]},{"id":"73942852.f33868","type":"ui_text","z":"943b4910.ef79b","group":"93cc9ef7.10fc18","order":3,"width":0,"height":0,"name":"Feels like","label":"Feels like (°C)","format":"{{msg.observation.feels_like}}","layout":"row-spread","x":591.2500610351562,"y":846.5,"wires":[]},{"id":"7a6b3635.add08","type":"ui_text","z":"943b4910.ef79b","group":"93cc9ef7.10fc18","order":4,"width":0,"height":0,"name":"Conditions","label":"Conditions","format":"{{msg.observation.wx_phrase}}","layout":"row-spread","x":602.0000610351562,"y":884.75,"wires":[]},{"id":"81ba072b.bb6798","type":"ui_text","z":"943b4910.ef79b","group":"93cc9ef7.10fc18","order":5,"width":0,"height":0,"name":"Pressure","label":"Pressure","format":"{{msg.observation.pressure}}","layout":"row-spread","x":580.0000610351562,"y":924.25,"wires":[]},{"id":"93cc9ef7.10fc18","type":"ui_group","z":0,"name":"Weather","tab":"6c2522db.b87404","order":3,"disp":true,"width":"6","collapse":false},{"id":"6c2522db.b87404","type":"ui_tab","z":"","name":"Assistant","icon":"fa-assistant","order":2}]