weatherUI_simulatedData.json
[{"id":"d0ee83b6.9bcf3","type":"http request","z":"e101c3ce.75f188","name":"geoservice","method":"GET","ret":"obj","url":"https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyC_I4RmHnE545Sk0QJcZzF7PtB1xYYrC-o&address={{{payload}}}","tls":"","x":395.41656494140625,"y":604.9167404174805,"wires":[["b20c414b.a815d"]]},{"id":"b20c414b.a815d","type":"function","z":"e101c3ce.75f188","name":"Parse latitude & longitude","func":"/*var x = msg.payload.results[0].geometry.location.lat+\",\"+msg.payload.results[0].geometry.location.lng;\nmsg.city = msg.payload.results[0].formatted_address;\nmsg.payload = x;\n\nmsg.location.latitude = msg.payload.results[0].geometry.location.lat;\nmsg.longitude = msg.payload.results[0].geometry.location.lng;*/\n//msg.location = {};\n\nmsg.location = {\n    lat : msg.payload.results[0].geometry.location.lat,\n    lon : msg.payload.results[0].geometry.location.lng\n    \n};\nreturn msg;\n","outputs":1,"noerr":0,"x":636.4165344238281,"y":604.916748046875,"wires":[["b7a8ab67.afdb3"]]},{"id":"c047f3a6.1d1eb8","type":"function","z":"e101c3ce.75f188","name":"Extract City","func":"msg.payload = msg.payload.context.city;\nreturn msg;","outputs":1,"noerr":0,"x":226.41656494140625,"y":604.9167404174805,"wires":[["d0ee83b6.9bcf3"]]},{"id":"b391c002.848c68","type":"comment","z":"e101c3ce.75f188","name":"Weather - API Key Inside","info":"API KEY: 3a1ac87a062142df79f4177302bd7ab9\n","x":159.41656494140625,"y":652.9167938232422,"wires":[]},{"id":"650245ef.512aa4","type":"link in","z":"e101c3ce.75f188","name":"weather-In","links":["9ee58043.d384a8","9f8e73cf.2b01d","cc46e7c5.cb9448"],"x":100.41656494140625,"y":604.9167404174805,"wires":[["c047f3a6.1d1eb8"]]},{"id":"b1b416c8.47356","type":"function","z":"e101c3ce.75f188","name":"Weather response","func":"msg.payload = msg.description;","outputs":1,"noerr":0,"x":775.1665649414062,"y":671.6666717529297,"wires":[[]]},{"id":"46481cf9.45b8a4","type":"ui_text","z":"e101c3ce.75f188","group":"e61a420a.97513","order":2,"width":0,"height":0,"name":"Temperature","label":"Temperature (°C)","format":"{{msg.payload.tempc}}","layout":"row-spread","x":753.4165725708008,"y":760.6666984558105,"wires":[]},{"id":"3084809d.2e67e","type":"ui_text","z":"e101c3ce.75f188","group":"e61a420a.97513","order":1,"width":0,"height":0,"name":"Location","label":"Location","format":"{{msg.payload.location}}","layout":"row-spread","x":743.6666259765625,"y":724.6667022705078,"wires":[]},{"id":"675ecf7f.1b3b1","type":"ui_text","z":"e101c3ce.75f188","group":"e61a420a.97513","order":3,"width":0,"height":0,"name":"Win speed","label":"Win speed","format":"{{msg.payload.windspeed}}","layout":"row-spread","x":754.9165725708008,"y":801.9166984558105,"wires":[]},{"id":"f571f53.3579b08","type":"ui_text","z":"e101c3ce.75f188","group":"e61a420a.97513","order":4,"width":0,"height":0,"name":"Conditions","label":"Conditions","format":"{{msg.payload.weather}}","layout":"row-spread","x":755.6665725708008,"y":840.1666984558105,"wires":[]},{"id":"6952334f.36e58c","type":"ui_text","z":"e101c3ce.75f188","group":"e61a420a.97513","order":5,"width":0,"height":0,"name":"Pressure","label":"Pressure","format":"{{msg.payload.pressure}}","layout":"row-spread","x":745.6665725708008,"y":879.6666631698608,"wires":[]},{"id":"b7a8ab67.afdb3","type":"openweathermap","z":"e101c3ce.75f188","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":352.8332824707031,"y":710.3333587646484,"wires":[["3084809d.2e67e","46481cf9.45b8a4","675ecf7f.1b3b1","f571f53.3579b08","6952334f.36e58c","b1b416c8.47356"]]},{"id":"e61a420a.97513","type":"ui_group","z":"","name":"Weather","tab":"c2fd5981.a9f79","order":3,"disp":true,"width":"6","collapse":false},{"id":"c2fd5981.a9f79","type":"ui_tab","z":"","name":"Assistant","icon":"fa-assistant","order":2}]